<!-- To-Do's
2. Add Geolocation if possible
3. Fix side menu collapse view and map
5. Add Auth0 with social logins -->



     <div class="row">
      <div class="options-box">
        <h3 class="text-center">Search for coffee!</h3>
        <div class="row">
	        <input id="places-search" type="text" placeholder="Ex. Starbucks">
	        <button id="go-places" class="btn btn-primary col-md-6">GO</button>
          <button id="show-listings" class="btn btn-primary col-md-6">Show All</button>      
          <!-- <button id="hide-listings" class="btn btn-primary col-md-6">Hide</button> -->
	      </div>
	      <hr>
        <div>
          <span class="text"> Within</span>
          <select id="max-duration">
            <option value="10">10 min</option>
            <option value="15">15 min</option>
            <option value="30">30 min</option>
            <option value="60">1 hour</option>
          </select>
          <select id="mode">
            <option value="DRIVING">drive</option>
            <option value="WALKING">walk</option>
            <option value="BICYCLING">bike</option>
            <option value="TRANSIT">transit ride</option>
          </select>
          <span class="text">of</span>
          <input id="search-within-time-text" type="text" placeholder="Ex. Address">
          <button id="search-within-time" class="btn btn-primary">GO</button>
        </div>
        <hr>
        <div>
        <span class="text"> Draw a shape around an area to search for coffee shops near you!</span><br>
          <button id="toggle-drawing" class="btn btn-default">Draw</button>
        </div>
        <hr>
        <div>
          <input id="zoom-to-area-text" type="text" placeholder="Ex. Area"><br>
          <button id="zoom-to-area" class="btn btn-default">Zoom</button>      
      </div>
      <!-- <div id="map"></div> -->
    </div>
  </div> 
    

    <script async defer src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry,drawing&key=AIzaSyBA_lxOIlHw-H0AsY0blsGHAJV21LoNsEs&v=3&callback=initMap">
    </script>